@model UrbanImpact.Data.Systems.Options
@{
    ViewBag.Title = "Edit";
}   
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('.datepicker').each(function () {
                $(this).datepicker({
                    onSelect: function () {
                        var $me = $(this);
                        $me.closest('.input-group').find(':checkbox').prop("checked", true);
                    }
                });
            });

            $('input.withcheck').each(function () {
                var $me = $(this)
                $me.blur(function () {
                    var checkMe = false;
                    if ($me && $me.val() != "")
                        checkMe = true;

                    $me.closest('.input-group').find(':checkbox').prop("checked", checkMe)
                });
            });
        });
    </script>
    }
<h3>@Model.Student.FullName</h3>
<div class="row">
  <div class="col-md-2">
    <img id="Image1" style="max-width: 100%;" src="@Model.Student.PictureUrl" />
  </div>
  <div class="col-md-3">
      <div class="form-group">
        <label for="Comment">Comments</label>
        <textarea class="form-control" id="Comment" name="Comment" rows="5"></textarea>
      </div>
        <div class="form-group">
            <label for="z">Primary Bus</label>
            @Html.DropDownListFor(m => m.PrimaryBus, new SelectList(Enum.GetValues(typeof(UrbanImpact.Data.Systems.Bus))), "Please Choose", new { @class="form-control" })
        </div>
  </div>
  <div class="col-md-7">
  <label>General information</label>
    <div class="rows">
        <div class="col-md-4">   
            <div class="checkbox">
              <label>
                @Html.CheckBox("DriversLicense", Model.DriversLicense.HasValue ? Model.DriversLicense : false)
                Drivers License
              </label>
            </div>
            <div class="checkbox">
              <label>
                @Html.CheckBox("BirthCertificate", Model.BirthCertificate.HasValue ? Model.BirthCertificate : false)
                Birth Certificate
              </label>
            </div>
            <div class="checkbox">
              <label>
                @Html.CheckBox("PaIDCard", Model.PaIDCard.HasValue? Model.PaIDCard : false)
                PA ID Card
              </label>
            </div>    
            <div class="form-group">
                <label>Assessment Testing Completed</label>
                @Html.EditorFor(m => m.AssessmentTesting, "DateCB")
            </div>
            <div class="form-group">
                <label>Primary Mentor</label>
                @Html.EditorFor(m => m.PrimaryMentor, "TextCB")
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
              <label>
                @Html.CheckBox("HasGraduated", Model.HasGraduated.HasValue ? Model.HasGraduated : false)
                Has Graduated?
              </label>
            </div>
            <div class="checkbox">
              <label>
                @Html.CheckBox("BankAccount", Model.BankAccount.HasValue ? Model.BankAccount : false)
                Bank Account
              </label>
            </div>
            <div class="checkbox">
              <label>
                @Html.CheckBox("SocialSecurityCard", Model.SocialSecurityCard.HasValue ? Model.SocialSecurityCard : false)
                Social Security Card
              </label>
            </div>    
            <div class="form-group">
                <label><BR />HS Transcript</label>
                @Html.EditorFor(m => m.HSTranscript, "DateCB")
            </div>   
            <div class="form-group">
                <label>HS Graduation</label>
                @Html.EditorFor(m => m.HSGraduation, "DateCB")
            </div>
                
 
        </div>        
        <div class="col-md-4">      
                         <div class="panel panel-default">
                  <div class="panel-heading">GPA</div>
                  <div class="panel-body">
                                <div class="form-group">
                <label>GPA</label>
                @Html.TextBoxFor(m => m.GPA, new { @class = "form-control input-sm" })
            </div>  
                        <div class="form-group">
                <label>Date</label>
                @Html.TextBoxFor(m => m.GPADate, new { @class = "form-control input-sm datepicker" })
            </div>  
                  </div>
                </div>   
        </div>
    </div>
  </div>
</div>

<div class="row" style="vertical-align: middle;">
    <div class="col-md-12">
        <p class="text-right">
        <button type="submit" class="btn btn-primary btn-lg">Update Student Information</button>  
        </p>  
    </div>
</div>

@*<div id="busSection">
<ul class="nav nav-tabs" id="busTabs">
  <li id="collegeTab" rel="college"><a href="#">College</a></li>
  <li id="tradeTab" rel="trade"><a href="#">Trade</a></li>
  <li id="militaryTab" rel="military"><a href="#">Military</a></li>
  <li id="careerTab" rel="career"><a href="#">Career</a></li>
  <li id="ministryTab" rel="ministry"><a href="#">Ministry</a></li>
</ul>

<div class="tab-panel" id="collegePane">
    @Html.Partial("_college")
</div>

<div class="tab-panel" id="tradePane">
    @Html.Partial("_trade")
</div>

<div class="tab-panel" id="militaryPane">
    @Html.Partial("_military")
</div>

<div class="tab-panel" id="careerPane">
    @Html.Partial("_career")
</div>

<div class="tab-panel" id="ministryPane">
    @Html.Partial("_ministry")
</div>
</div>*@

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Activity History</div>

  <!-- Table -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Time of Entry</th>
            <th>Activity Description</th>
            <th>Edited By</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var activityEntry in Model.ActivityEntries)
    {
        <tr>
            <td>@activityEntry.DateModified</td>
            <td>@activityEntry.ActivityLog</td>
            <td>@activityEntry.LastUpdatedBy</td>
        </tr>
    }
    </tbody>
</table>
</div>