@model List<UrbanImpact.Data.Systems.Options>

@{
    ViewBag.Title = "Index";
}
<table class="table table-striped">
    @foreach (var Option in Model)
    {
        <tr>
            <td>@Option.Student.LastName</td>
            <td>@Option.Student.MiddleName</td>
            <td>@Option.Student.FirstName</td>
            <td>@Option.BusOption</td>
            <td>@Option.Comments</td>
        </tr>
    }
</table>
